<header>
  <img
    src="/johen.png"
    alt="João Henrique profile picture"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>João Henrique</h1>
  <!-- <span>
    Software Developer
</span> -->
</header>

<aside>
  <div class="container">
    <p>
      Software Developer | Javascript | VueJS | Node.js | Java | SpringBoot |
      SQL | AWS
    </p>
    <p>São Paulo, Brazil</p>
    <p>Software Developer for more then 3 years.</p>

    <nav>
      <ul>
        <li>
          <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary"
            >Download Cv</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/jhenriquefq"
            target="_blank"
            class="btn btn-secundary"
            >LinkedIn</a
          >
        </li>
        <li>
          <a
            href="https://github.com/Jhenrique44"
            target="_blank"
            class="btn btn-primary"
            >GitHub</a
          >
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="Whatsapp logo for contact"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="htts://api.whatsapp.com/send?phone=5511956470321&text=Ol%C3%A1%2C%20Joao,tudo%20bem%3F"
            target="_blank"
            ><strong>Send a message on WhatsApp:</strong>
            <p>WhatsApp: (11) 95647-0321</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="e-mail logo for contact"
          width="22px"
          height="24px"
        />
        <figcaption>
          <a
            href="mailto:jo-henriquefreitas@hotmail.com"
            target="_blank"
            ><strong>Send an e-mail:</strong>
            <p>jo-henriquefreitas&#64;hotmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
